{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<style>
  element.style {
  }
  #footer.short {
      padding-top: 50px;
  }
  #footer {
      background: #121214;
      border-top: 4px solid #1F1F1F;
      font-size: 0.9em;
      margin-top: 50px;
      padding: 80px 0 0;
      position: relative;
      clear: both;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
      display: block;
  }
  * {
     -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  user agent stylesheet
  footer {
     
  }
  @media (max-width: 479px)
  body {
      
  }
  body {
      background-color: white;
      color: #777777;
      font-family: 'open_sansregular', Arial, sans-serif;
     
      line-height: 22px;
      margin: 0;
  }
  body {
     
      background-color: #fff;
  }
  html {
      
      -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  html {
      
      -webkit-text-size-adjust: 100%;
  }
  :after, :before {
      
      box-sizing: border-box;
  }
  :after, :before {
  
      box-sizing: border-box;
  }
  
</style>


<div class="col-md-9">

  <h2><strong>Brief</strong>  History</h2>

  <div class="row">
    <div class="col-md-12">
      <span class="thumbnail"><img src="static/images/history.png" alt="" class="fullwidthimg"></span>
    </div>
  </div>

  <hr class="tall">

  <div class="row">
    <div class="col-md-12">
      <p>One-Eight Bank started operation is Bangladesh's first joint venture bank. 
        The bank was an effort by local shareholders spearheaded by Virat Kohli
         (founder chairman) and the Dutch company FMO.
      From the onset, the focus of the bank has been financing 
        high-growth manufacturing industries in Bangladesh. The rationale
         being that the manufacturing sector exports Bangladeshi products worldwide.
         Thereby financing and concentrating on this sector allows Bangladesh
          to achieve the desired growth. One-Eight Bank other focus is
           Corporate Social Responsibility (CSR). Even though CSR is now a cliche, 
           One-Eight Bank is the pioneer in this sector and termed the contribution
            simply as 'social responsibility'. Due to its investment in this sector, 
            One-Eight Bank has become one of the largest donors and the largest 
            bank donor in Bangladesh. The bank has won numerous international awards 
            because of its unique approach as a socially conscious bank.
                      
      One-Eight Bank was the first bank in Bangladesh to be fully automated. 
        The Electronic-Banking Division was
         established in 2002 to undertake rapid automation and bring modern banking 
         services into this field. Full automation was completed in 2003 and hereby 
         introduced plastic money to the Bangladeshi masses. One-Eight Bank also operates 
         the nation's largest ATM fleet and in the process drastically cut consumer costs and fees 
         by 80%. Moreover, One-Eight Bank choosing the low profitability route for this sector has 
         surprised many critics. One-Eight Bank had pursued the mass automation in Banking as
          a CSR activity and never intended profitability from this sector. As a result it 
          now provides unrivaled banking technology offerings to all its customers.
           Because of this mindset, most local banks have joined One-Eight Bank 
           banking infrastructure instead of pursuing their own.
      Even with a history of hefty technological investments and an even larger 
        donations, consumer and investor confidence has never waned. One-Eight Bank 
        stock set the record for the highest share price in the Dhaka Stock Exchange in 2008.</p>                              
    </div>
  </div>

</div>
<footer class="short" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>About One-Eight Bank</h4>
        <p>One-Eight Bank started operation is Bangladesh's first joint venture bank. The bank was an effort by local shareholders spearheaded by M Sahabuddin Ahmed (founder chairman) and the Dutch company FMO.</p>
        <hr class="light">
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h5 class="short">Contact Us (Head office)</h5>
                  <span class="phone">02223354196-8, 02223359229<br>(8802) 47110465, 47115155, 47114795</span>
      <p class="short">09612322001, 09612007004</p>
                  <p class="short">International: (8802) 47110465, 47115155, 47114795</p>
                  <p class="short">Fax: (8802) 9561889</p>
                  <p class="short">SWIFT : ONEDDH</p>
       
      </div>
    </div>
  </div>

        <div class="col-md-11">
          <p>© One-Eight Bank Limited.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock body %}
