{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Transaction</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example">

    <!-- Example Code -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid ">
        <a class="navbar-brand" href="#">One-Eight Customer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
            <a class="nav-link" href="/deposit">Deposit</a>
            <a class="nav-link" href="/withdraw">Withdraw</a>
            <a class="nav-link" href="/money_transfer">Money Transfer</a>
            <a class="nav-link" href="/changepass">Change Password</a>
            <a class="nav-link" href="/check_balance">Check Balance</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/personalBanking">PERSONAL BANKING</a></li>
                <li><a class="dropdown-item" href="/services">CORPORATE BANKING</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/services ">SME BANKING</a></li>
                <li><a class="dropdown-item" href="/prepaidcard ">One-Eight Prepaid card</a></li>
                <li><a class="dropdown-item" href="/debitcard ">One-Eight Debit cards</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <a class="nav-link" href="#">Log Out</a>
            
            
          </div>
        </div>
      </div>
    </nav>
    
    <!-- End Example Code -->
  </body>
</html>